.settings-container {
    padding: 1rem;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-container h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.profile-section,
.account-settings {
    width: 40%;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.profile-section h2,
.account-settings h2{
    margin-bottom: 1rem;
}

.profile-section form,
.account-settings form {
    display: flex;
    flex-direction: column;
}

.profile-section label,
.account-settings label {
    margin-bottom: 0.5rem;
}

.profile-section input,
.account-settings input,
.profile-section select,
.profile-section button,
.account-settings button {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.profile-section button,
.account-settings button {
    background-color: #4a90e2;
    color: #fff;
    cursor: pointer;
}

.profile-section button:hover,
.account-settings button:hover,
.financial-preferences button:hover {
    background-color: #357abd;
}

.delete-account {
    background-color: #ff3b30;
    color: #fff;
    cursor: pointer;
    width: 40%;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.delete-account:hover {
    background-color: #d93326;
}


.error-message {
    margin-bottom: 1rem;
    color: #d0021b;
    text-align: left;
}

